body {
  margin: 0;
  font-family: "Ubuntu";
}

h3 {
  font-family: "oswald";
}

ul,
li,
ol {
  list-style-type: none;
}

li {
  color: #70798c;
}

.container {
  display: grid;
  /* flex-direction: column; */
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.3fr 4fr 0.2fr;
  height: 100vh;
  flex-wrap: wrap;
}

.header {
  background-color: #f5f1ed;
  padding: 2%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  /* grid-column-start: 1;
  grid-column-end: 5; */
  grid-column: span 5;
}

.header ul {
  display: inline-flex;
  justify-content: center;
  align-items: center;

}

.header ul li {
  margin: 0 30px;
  cursor: pointer;
  font-family: "roboto";
  display: inline-flex;
  justify-content: center;
  align-items: center;

}

.header ul li:hover {
  margin: 0 10px;
  color: #ff6600;
}

.header h3 {
  margin: 10px;
  color: #ff6600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.left-block {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-self: center;
  grid-column: span 2;
  width: 200px;
}

.left-block ul {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  /* flex-grow: 0;
  flex-shrink: 4; */
}

.left-block ul li {
  margin-top: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.left-block ul li:hover {
  color: #ff6600;
}

.main {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.footer {
  justify-content: center;
  background-color: #252323;
  color: #fff;
  order: 5;
  display: flex;
  align-items: center;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}


.footer span {
  color: #ff6600;
}

.plan-button {
  padding: 10px;
  background-color: #ff6600;
  color: #fff;
  border-radius: 5px;
  border: none;
}

.pricing-container {
  display: flex;
  gap: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-right: 80px;
}

.pricing-plan {
  max-width: 300px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
}

.plan-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.plan-price {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.plan-features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan-features li {
  margin-bottom: 10px;
}

/* Landscape phones and portrait tablets */
@media all and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .header {
    display: flex;
    gap: 10px;
  }

  .container_content {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;

  }

  .left-block {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 1rem;
    width: auto;
  }

  .left-block ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
  }

  .pricing-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    margin: 0;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    order: 5;
    margin-top: 15px;
    padding: 5px 0;
  }

}